<div class="container px-0 h-100">
    <mat-sidenav-container>
      <mat-sidenav #sidenav role="navigation" class="w-75">
        <app-sidenav-list #sideNavList (closeSidenav)="sidenav.close()" (backToNodeEvent)="tree.backToNode($event)">
        </app-sidenav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <app-header (sidenavToggle)="sidenav.toggle()" (resetTreeEvent)="tree.reset()"
          (clearSideNavEvent)="sideNavList.clearAnswers()"></app-header>
        <main>
          <router-outlet></router-outlet>
        </main>
        <app-decision-tree-form #tree (answerEvent)="sideNavList.addAnswer($event)"></app-decision-tree-form>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>